/* Layout Components */

/* Filler */
.filler {
    width: 100%;
    height: 6rem;
    flex-shrink: 0; /* Prevents flex from shrinking this element */
    flex-grow: 0;   /* Prevents flex from growing this element */
}

/* Stack */
.stack, .stackTeam {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack * {
    margin-block: 0;
}

.stack * + * {
    margin-block-start: var(--stack-spacing1);
}

.stackTeam {
    margin-top: 3rem;
    font-size: 1.2em;
}

.stackTeam  * + * {
    margin-block-start: 2.5rem;
}

/* Sidebar */

.withSidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-mg);
}

.withSidebar > :first-child {
    flex-grow: 1;
}

.withSidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

/* Switcher */


.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--switcher-mg);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.switcher > :nth-last-child(n+ 5),
.switcher > :nth-last-child(n+ 5) ~ * {
    flex-basis: 100%;
}

/* Grid */

.grid {
    display: grid;
    grid-gap: 4rem 3rem;
    padding: 0 0 2rem 0;
}

@supports (width: min(250px, 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(210px, 100%), 1fr));
    }
}

/* Center */

.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--text-inline-size);
    display: flex;
    flex-direction: column;
}